---
const { title } = Astro.props;
---

<section>
  <h1 id="text" class="ttl">{title}</h1>
</section>

<style>
  .ttl {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
</style>

<script>
  import gsap from "gsap";
  import SplitType from "split-type";

  const myText = new SplitType("#text", { types: "chars" });
  const chars = myText.chars;

  gsap.fromTo(
    chars,
    {
      y: 100,
    },
    {
      y: 0,
      stagger: 0.05,
      duration: 1,
      ease: "easeIn",
    }
  );
</script>
